.wrap{
    width: 1000px;
    margin: 0 auto;
}

.head{
    line-height: 50px;
    color: #fff;
    background: #333;
}

.head ul{
    float: left;
}

.head li{
    float: left;
    min-width: 60px;
    margin-right: 10px;
    text-align: center;
}

.head a{
    display: block;
    padding: 0 10px;
    color: #fff;
}

.head .active{
    background: orangered;
}